
<!DOCTYPE HTML>
<!--
	Identity by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>ISGB | Referans App</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

    <style>
      .highlight {
        background-color: aquamarine;
      }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
      function updateContent() {
        var inputField = document.getElementById('searchInput');
        var text = inputField.value;
        if(text.length > 2) {
          var url = "/file/search/" + text;
          //document.getElementById('content1').src = url;
          console.log(url);

          $.ajax({
            url: url,
            cache: false,
            success: function(html){
              $("#search-result-content").html(html);
              highlight(text);
            }
          });
        } else {
          $("#search-result-content").html("L端tfen en az 3 karakter girin.");
        }
      }
      function highlight(text)  {
        var innerHTML = $("#search-result-content").html();
        var replace = "<span class='highlight'>" + text + "</span>";
        innerHTML = replaceAll(innerHTML, text, replace);
        $("#search-result-content").html(innerHTML);
      }
      function replaceAll(str, find, replace) {
        return str.replace(new RegExp(find, 'g'), replace);
      }
    </script>
	</head>

	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">

						<header>
              <form action="/file/upload" method="post" enctype="multipart/form-data">
                Dosya Y端kle:
                <input type="file" name="fileToUpload" id="fileToUpload">
                <input type="submit" value="Y端kle" name="submit">
              </form>
						</header>

            <hr />

						<body>

						</body>

            <label>L端tfen arama metnini giriniz</label>
            <input type="text" id="searchInput" onkeyup="updateContent()">
            <div id="search-result-content"></div>

            <hr />

						<footer>
							<ul class="icons">
								<li><a href="http://twitter.com/arniostech" target="_blank" class="fa-twitter">Twitter</a></li>
								<li><a href="http://facebook.com/arniostech" target="_blank" class="fa-facebook">Facebook</a></li>
								<li><a href="mailto:info@arnios.com?Subject=About%20Arnios" class="fa-envelope-o">Mail</a></li>

							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Arnios</li>
							<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>


</html>
